HTTP_SERVER=https://${net_default_dhcp_server_name}

# Notify function
function notify_server {
    http_get ${HTTP_SERVER}/jobs/notify?client=${net_default_mac}
}

echo "Notifying server of ready status..."
notify_server

echo "Loading main config..."
configfile grub/config/main.cfg